.main {
  font-family: sans-serif;
  text-align: center;
}
.inputWrapper {
  margin: "20px 0";
  display: "flex";
  justify-content: "space-between";
  width: "100%";
}

.inputBox {
  flex-grow: 1;
  margin-right: 20;
}
